* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

}

header {
    width: 350px;
    height: 100px;
    float: right;
    border-bottom: 2px solid #000;
    background-color: #4469B0;
    color: #fff;
}

header h1 {
    font-size: 35px;
    line-height: 100px;
    text-align: center;
}

footer {
    width: 350px;
    float: right;
    height: 150px;
    background-color: #4469B0;
    border-top: 2px solid #000;
    padding: 15px;
}

.img_zqsd {
    margin: 0 auto;
    max-width: 180px;
    width: 100%;
    display: block;
}

.img_spaceBar {
    margin: 0 auto;
    max-width: 280px;
    width: 100%;
    border-radius: 10px;
    display: block;
}

.scrolling {
    width: 350px;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    float: right;
}

.container_map {
    min-width: 700px;
    width: calc(100% - 350px);
    height: 100vh;
    float: left;
    border-right: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbcdd0;
}

.container_dialog {
    width: 100%;
    height: calc(100% - 150px);
    border-bottom: 2px solid;
}

.container_firendlist {
    width: 100%;
    height: 150px;
}


.map {
    width: 604px;
    height: 604px;
    border: 2px solid #000;
    border-radius: 3px;
}

.map_line {
    width: 600px;
    float: left;
}

.map_case {
    width: 60px;
    height: 60px;
    float: left;
}

.free_case {
    background-color: #F1F0F0;
}

.pnj_case {
    background-color: #F1F0F0;
}

.disable_case {
    background-color: #4469B0;
}

.dialog {
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    position: relative;
}

.dialog h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.input_dialog {
    margin: 20px auto;
    padding: 0 10px;
    display: block;
    height: 30px;
    font-size: 18px;
}

.text_dialog {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 20px 20px 20px 4px;
    background-color: #F1F0F0;
    margin-bottom: 15px;
}

.button {
    display: flex;
    width: 45%;
    height: 43px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    bottom: 12px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #43559b;
    background-color: #4469B0;
}

.button:hover {
    background-color: rgba(68, 105, 176, 0.86);
}

.button:active {
    box-shadow: 0 -5px 0 #43559b;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

.button_left {
    float: left;
    left: 10px;
    border-right: 1px solid #000;
}

.button_right {
    float: right;
    right: 10px;
}

.answer_true {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 20px;
}

.answer_false {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 20px;
}

.friendlist {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.friendlist h2 {width: 100%;height: 30px;display: block;line-height: 30px;font-size: 20px;}

.friend {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    float: left;
    width: 50%;
}

.friend::before {
    content: '>';
    font-size: 25px;
    height: auto;
    margin-right: 10px;
}

.caract_principal {
    background-image: url("img/principal/perso.png");
}

.caract_pnj1 {
    background-image: url("img/pnj/pnj1.png");
}

.caract_pnj2 {
    background-image: url("img/pnj/pnj2.png");
}

.caract_pnj3 {
    background-image: url("img/pnj/pnj3.png");
}

.caract_pnj4 {
    background-image: url("img/pnj/pnj4.png");
}

.caract_pnj5 {
    background-image: url("img/pnj/pnj5.png");
}

.caract_pnj7 {
    background-image: url("img/pnj/pnj7.png");
}