.map{
    width: 750px;
}

.map_line{
    width: 750px;
    float: left;
}
.map_case{
    width: 75px;
    height: 75px;
    float: left;
}
.free_case{
    background-color: green;
}
.pnj_case{
    background-color: yellow;
}

.disable_case{
    background-color: blue;
}